<div class="jumbotron">
  <h3>Search in content by Keyword</h3>
  <%= form_with(model: Member, url: members_path, method: :get, local: true) do |form| %>
    <div class="form-group">
      <label for="search_keyword">Keyword</label>
      <input class="form-control" aria-describedby="nameHelp" placeholder="Keyword" type="text" name="keyword" id="search_keyword" value="<%= @search_keyword %>">
      <small id="nameHelp" class="form-text text-muted">Search Keyword</small>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  <% end %>
</div>