<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Friendships social network application</p>
  <p>Ruby on Rails</p>
  <p>
    <a class="btn btn-lg btn-primary" href="/members" role="button">Members »</a>
  </p>
</div>